@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Benas Klimasauskas IFF-6/14
    Julius Kukonenko IFF-6/14
    Greta Trapnauskaite IFF-6/14
    Martynas Veikutis IFF-6/14
</address>
